body {
    text-align: center;
    font: 800;
    background-color: darkblue;
    color: aliceblue;
}
p, li{
    color: peru;
}

button {
    width: 150px;
    height: 25px;
    background-color: blueviolet;
}
